In [72]:
import pandas as pd

sneakersnstuff = pd.read_csv("sneakersnstuff.csv", sep=";")

In [73]:
sneakersnstuff = sneakersnstuff[sneakersnstuff["available"] == "InStock"]
del sneakersnstuff["available"]

In [74]:
sneakersnstuff.head()

,brand,name,price,url,img,color
0,Jordan Brand,Air Jordan 11 Retro,210,https://www.sneakersnstuff.com/fr/product/6407...,https://www.sneakersnstuff.com/images/404854/c...,White
1,Nike Sportswear,Air Terra Forma x Off-White,210,https://www.sneakersnstuff.com/fr/product/6642...,https://www.sneakersnstuff.com/images/407492/c...,Brown
2,Nike Sportswear,Air Terra Forma x Off-White,210,https://www.sneakersnstuff.com/fr/product/6642...,https://www.sneakersnstuff.com/images/407498/c...,Orange
3,Nike Sportswear,Dunk Low Retro,120,https://www.sneakersnstuff.com/fr/product/4531...,https://www.sneakersnstuff.com/images/281985/c...,White
4,Nike Sportswear,Attack,140,https://www.sneakersnstuff.com/fr/product/6502...,https://www.sneakersnstuff.com/images/386108/c...,Grey

In [75]:
sneakersnstuff["brand"] = sneakersnstuff["brand"].str[0].str.upper() + sneakersnstuff["brand"].str[1:]

In [76]:
scrapdate = "07-12-2023"

In [77]:
# rename url to link
sneakersnstuff.rename(columns={"url": "link"}, inplace=True)

# rename img to image
sneakersnstuff.rename(columns={"img": "image"}, inplace=True)

In [78]:
sneakersnstuff["_id"] = range(1, len(sneakersnstuff) + 1)
sneakersnstuff["scrapDate"] = scrapdate

In [79]:
sneakersnstuff.head()

,brand,name,price,link,image,color,_id,scrapDate
0,Jordan Brand,Air Jordan 11 Retro,210,https://www.sneakersnstuff.com/fr/product/6407...,https://www.sneakersnstuff.com/images/404854/c...,White,1,07-12-2023
1,Nike Sportswear,Air Terra Forma x Off-White,210,https://www.sneakersnstuff.com/fr/product/6642...,https://www.sneakersnstuff.com/images/407492/c...,Brown,2,07-12-2023
2,Nike Sportswear,Air Terra Forma x Off-White,210,https://www.sneakersnstuff.com/fr/product/6642...,https://www.sneakersnstuff.com/images/407498/c...,Orange,3,07-12-2023
3,Nike Sportswear,Dunk Low Retro,120,https://www.sneakersnstuff.com/fr/product/4531...,https://www.sneakersnstuff.com/images/281985/c...,White,4,07-12-2023
4,Nike Sportswear,Attack,140,https://www.sneakersnstuff.com/fr/product/6502...,https://www.sneakersnstuff.com/images/386108/c...,Grey,5,07-12-2023

In [80]:
vinted = pd.read_csv("new_vinted.csv", sep=";")

In [81]:
for key, products in vinted.iterrows():
    if products["name"] not in sneakersnstuff["name"].values:
        vinted.drop(key, inplace=True)

In [82]:
vinted.drop_duplicates(subset=["brand","name"], keep="first", inplace=True)

In [83]:
vinted

,brand,name,price,url,img,available
3,Jordan,Air Jordan 1 Low,140.0,https://www.vinted.fr/items/3888400791-air-jor...,https://images1.vinted.net/t/03_00c47_btLjEQNn...,InStock
165,Jordan,Air Jordan 1 Mid,115.0,https://www.vinted.fr/items/3897566885-air-jor...,https://images1.vinted.net/t/01_00836_DASuQ11m...,InStock
249,adidas Originals,Gazelle,90.0,https://www.vinted.fr/items/3891099603-gazelle,https://images1.vinted.net/t/02_0116b_fwCKZAX5...,InStock
436,Jordan,Air Jordan 1 Zoom CMFT 2,80.0,https://www.vinted.fr/items/3545567433-air-jor...,https://images1.vinted.net/t/02_00531_JuwmCY3W...,InStock
591,On Running,Cloudsurfer,150.0,https://www.vinted.fr/items/3851624558-cloudsu...,https://images1.vinted.net/t/03_00336_UN84tTam...,InStock
700,adidas Originals,Samba,120.0,https://www.vinted.fr/items/3895150712-samba,https://images1.vinted.net/t/02_013cf_NTzM6Xzj...,InStock
797,Reebok,Pump TZ,125.0,https://www.vinted.fr/items/3852976243-pump-tz,https://images1.vinted.net/t/03_00a15_quLYD5Xf...,InStock
851,adidas Originals,Orketro,59.0,https://www.vinted.fr/items/3886062884-orketro,https://images1.vinted.net/t/03_013d9_DJLk9Fhd...,InStock
965,adidas Originals,Adilette,12.5,https://www.vinted.fr/items/3215199797-adilette,https://images1.vinted.net/t/01_0168e_nmkF5hhH...,InStock
1051,Nike Sportswear,Air Max 95,58.8,https://www.vinted.fr/items/3347453616-air-max-95,https://images1.vinted.net/t/03_01bd0_VbAJ7qWd...,InStock
1465,Puma,MB.02,20.0,https://www.vinted.fr/items/3862907759-mb02,https://images1.vinted.net/t/02_01cb0_TF7PjtTN...,InStock
1557,Converse,Chuck 70 Fall Tone,70.0,https://www.vinted.fr/items/3853640009-chuck-7...,https://images1.vinted.net/t/01_00e49_tQDfg7Ns...,InStock

In [84]:
df = sneakersnstuff.copy()

list_vinted_url = []
list_vinted_price = []
list_vinted_stars = []

for key, products in df.iterrows():
    find = False
    for key2, products2 in vinted.iterrows():
        if  products2["name"] == products["name"]:
            list_vinted_url.append(products2["url"])
            list_vinted_price.append(products2["price"])
            list_vinted_stars.append(3.3)
            find = True
            break
    if find == False:
        list_vinted_url.append("NaN")
        list_vinted_price.append("NaN")
        list_vinted_stars.append("NaN")

df["vinted_url"] = list_vinted_url
df["vinted_price"] = list_vinted_price
df["vinted_stars"] = list_vinted_stars

In [85]:
df

,brand,name,price,link,image,color,_id,scrapDate,vinted_url,vinted_price,vinted_stars
0,Jordan Brand,Air Jordan 11 Retro,210,https://www.sneakersnstuff.com/fr/product/6407...,https://www.sneakersnstuff.com/images/404854/c...,White,1,07-12-2023,NaN,NaN,NaN
1,Nike Sportswear,Air Terra Forma x Off-White,210,https://www.sneakersnstuff.com/fr/product/6642...,https://www.sneakersnstuff.com/images/407492/c...,Brown,2,07-12-2023,NaN,NaN,NaN
2,Nike Sportswear,Air Terra Forma x Off-White,210,https://www.sneakersnstuff.com/fr/product/6642...,https://www.sneakersnstuff.com/images/407498/c...,Orange,3,07-12-2023,NaN,NaN,NaN
3,Nike Sportswear,Dunk Low Retro,120,https://www.sneakersnstuff.com/fr/product/4531...,https://www.sneakersnstuff.com/images/281985/c...,White,4,07-12-2023,NaN,NaN,NaN
4,Nike Sportswear,Attack,140,https://www.sneakersnstuff.com/fr/product/6502...,https://www.sneakersnstuff.com/images/386108/c...,Grey,5,07-12-2023,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1300,Saucony,Jazz Original Vintage,55,https://www.sneakersnstuff.com/fr/product/2944...,https://www.sneakersnstuff.com/images/189419/c...,Black,1301,07-12-2023,NaN,NaN,NaN
1301,Saucony,Jazz Original Vintage,55,https://www.sneakersnstuff.com/fr/product/2944...,https://www.sneakersnstuff.com/images/189421/c...,Blue,1302,07-12-2023,NaN,NaN,NaN
1302,Adidas Originals,Superstar Boot,56,https://www.sneakersnstuff.com/fr/product/4507...,https://www.sneakersnstuff.com/images/278756/c...,Brown,1303,07-12-2023,NaN,NaN,NaN
1303,Saucony,Jazz 81,44,https://www.sneakersnstuff.com/fr/product/4629...,https://www.sneakersnstuff.com/images/283996/c...,Blue,1304,07-12-2023,NaN,NaN,NaN
1304,Reebok,Classic Leather,45,https://www.sneakersnstuff.com/fr/product/1080...,https://www.sneakersnstuff.com/images/230332/c...,Black,1305,07-12-2023,NaN,NaN,NaN

In [86]:
df.to_json("html/products.json", orient="records")